%h2 Последнии публикации

%p
  - @feeds.each do |feed|
    .row
      .col-md-12
        .post
          .post-header
            = link_to "post", feed.link, target: "_blank"
            = time_ago_in_words feed.provider_created_at
            ago

          .post-message
            = feed.message

= paginate @feeds, theme: 'twitter-bootstrap-3'
